body {
  background: white !important;
}


#ohgosh{
  width:500px;
  height: 47px;
  position: absolute;
  display: block;
  margin-left: 760px;
  margin-top: -100px;
  transform: scale(6);
}

#printtitle{
  display: block;
}

.pickOnMe {
  display: none;
}

.stripe{
  display: none;
}

#medium{
  display: none;
}

#size{
  display: none;
}

.oof{
  display: none;
}

.back{
  display: none;
}

.next{
  display: none;
}

#year{
  display: none;
}

.bodytext{
  display:none;
}
